.board{
  flex: 1.65;
}

.board-row {
  display: flex;
  flex-direction: row;
  /* background-color: crimson; */
  /* width: 60%; */
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 760px) {
  .board-row{
    justify-content: center;
  }
}
